@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.review .back{
    background-color: #EFEFEF; 
    height: 780px;
}
.rev_head{
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
    margin-left: 122px;
    padding-top: 91px;

}

.rev_card{
    background-color: #FFFFFF;
    width: 791px;
    height: 451px;
    border-radius: 30px;
    margin-left: 126px;
    margin-top: 62px;
    padding-left: 46px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.rev_p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 700px;
    font-style: normal;
    padding-top: 40px;
    

}

/* section2style */

.price-back{
    background-color: #9DC9C8;
    height: 780px;
    padding-left: 122px;
    padding-right: 122px;


}
.price-head{
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
    
    padding-top: 179px;
    line-height: 56px;
}
.price-description{
    font-size: 25px;
  
    font-family: 'Roboto', sans-serif;
    margin-top: 54px;
}
.price-price{
    font-size: 80px;
    line-height: 81px;
    font-family: 'Roboto', sans-serif;
    

}
.price-bottom{
    display: flex;
    margin-top: 74px;
}
.p-head{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    height: 32px;
    margin-bottom: 9px
;

}
.p-foot{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 294px;
    height: 70px;
    margin-right: 70px;
}