@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.review .back{
    background-color: #EFEFEF; 
    height: 780px;
}
.rev_head{
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
    margin-left: 122px;
    padding-top: 91px;

}

.rev_card{
    background-color: #FFFFFF;
    width: 791px;
    height: 451px;
    border-radius: 30px;
    margin-left: 126px;
    margin-top: 62px;
    padding-left: 46px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.rev_p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 700px;
    font-style: normal;
    padding-top: 40px;
    margin-bottom: 33px;
    

}

.review-bottom{
    display: flex;
    align-items: center;
}

.review-bottom_text{
    font-size: 30px;
    height: 59px;
    font-family: 'Roboto Slab', serif;
}
.vector-pic{ 
    width: 190px;
    height: 169px;
    margin-right: 30px;
}
.facebook-photo{
    width: 32px;
    height: 31px;
}


/* section2style */

.price-back{
    background-color: #9DC9C8;
    height: 780px;
    padding-left: 122px;
    padding-right: 122px;


}
.price-head{
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
    
    padding-top: 179px;
    line-height: 56px;
}
.price-description{
    font-size: 25px;
  
    font-family: 'Roboto', sans-serif;
    margin-top: 54px;
}
.price-price{
    font-size: 80px;
    line-height: 81px;
    font-family: 'Roboto', sans-serif;
    

}
.price-bottom{
    display: flex;
    margin-top: 74px;
}
.p-head{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    height: 32px;
    margin-bottom: 9px
;

}
.p-foot{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 294px;
    height: 70px;
    margin-right: 70px;
}



/* //////////////////////////////////////////////////// */

@media screen and (max-width: 1279px ) and (min-width : 992px){

    .review .back{
        
        height: 452px;
    }

    .rev_head{
        font-size: 32px;
        font-family: 'Roboto Slab', serif;
        margin-left: 71px;
        padding-top: 53px;
    
    }

    .rev_card{
        background-color: #FFFFFF;
        width: 457px;
        height: 262px;
        border-radius: 17px;
        margin-left: 73px;
        margin-top: 62px;
        padding-left: 26px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    }

    .rev_p{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        line-height: 18px;
        width: 405px;
        font-style: normal;
        padding-top: 23px;
        margin-bottom: 6px;
        
    
    }

    .review-bottom{
        display: flex;
        align-items: center;
    }
    
    .review-bottom_text{
        font-size: 17px;
        height: 34px;
        font-family: 'Roboto Slab', serif;
    }
    .vector-pic{ 
        width: 110px;
        height: 98px;
        margin-right: 15px;
    }
    .facebook-photo{
        width: 18.53px;
        height: 18px;
    }



    /* section2style */

.price-back{
    background-color: #9DC9C8;
    height: 452px;
    padding-left: 71px;
    padding-right: 71px;


}
.price-head{
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    
    padding-top: 104px;
    line-height: 32.44px;
}
.price-description{
    font-size: 14px;
  
    font-family: 'Roboto', sans-serif;
    margin-top: 31.27px;
}
.price-price{
    font-size: 46px;
    line-height: 47px;
    font-family: 'Roboto', sans-serif;
    

}
.price-bottom{
    display: flex;
    margin-top: 43px;
}
.p-head{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 18.53px;
    margin-bottom: 5.21px
;

}
.p-foot{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    width: 170.28px;
    height: 40.54px;
    margin-right: 40.54px;
}

    
}

/* //////////////////////////////////////////////////// */

@media screen and (max-width: 991px ){

    .review .back{
        
        height: 423px;
    }

    .rev_head{
        font-size: 26px;
        font-family: 'Roboto Slab', serif;
        margin-left: 36px;
        padding-top: 42px;
    
    }

    .rev_card{
        background-color: #FFFFFF;
        width: 308px;
        height: 248px;
        border-radius: 14px;
        margin-left: 36px;
        margin-top: 21px;
        padding-left: 21px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    }

    .rev_p{
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        line-height: 15px;
        width: 266px;
        font-style: normal;
        padding-top: 18px;
        margin-bottom: 10px;
        
    
    }

    .review-bottom{
        display: flex;
        align-items: center;
        margin-bottom: 13px;
    }
    
    .review-bottom_text{
        font-size: 14px;
        height: 33px;
        font-family: 'Roboto Slab', serif;
    }
    .vector-pic{ 
        width: 80px;
        height: 84px;
        margin-right: 13.63px;
    }
    .facebook-photo{
        width: 14.91px;
        height: 17.2px;
    }



    /* section2style */

.price-back{
    background-color: #9DC9C8;
    height: 363px;
    padding-left: 35px;
    padding-right: 35px;


}
.price-head{
    font-size: 26px;
    font-family: 'Roboto Slab', serif;
    
    padding-top: 62px;
    line-height: 26.42px;
}
.price-description{
    font-size: 12px;
  
    font-family: 'Roboto', sans-serif;
    margin-top: 35.27px;
}
.price-price{
    font-size: 37px;
    line-height: 37.51px;
    font-family: 'Roboto', sans-serif;
    

}
.price-bottom{
    display: flex;
    margin-top: 34px;
}
.p-head{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    height: 15px;
    margin-bottom: 5px
;

}
.p-foot{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    width: 138px;
    height: 47px;
    margin-right: 31px;
}

    
}