
h2{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
}

h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #1E4681;
}

p{
    font-family: Roboto;
    font-size: 10px;
    line-height: 13px;
}

li{
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
}

/*margin & padding*/
.mt-1{margin-top: 1rem;}
.mb-5{margin-bottom: 5rem;}


.justify-content-between{
    justify-content: space-between;
}






















.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 300px) and ( max-width:575px) {
    .container{
        max-width: 305px;
    }

}


@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }

  h2{
    font-size: 32px;
    line-height:32px    
  }

  h3{
    font-size: 15px;
    line-height: 19px;
  }

  p{
    font-size: 11px;
    line-height: 14px;
  }

  li{
    font-size: 14px;
    line-height: 21px;
  }

  /*margin & padding*/
  .mt-md-0{margin-top: 0;}
  .mt-md-1{margin-top: 1rem;}
  .mt-md-4{margin-top: 4rem;}
  .mb-md-6{margin-bottom: 6rem;}
  .mb-md-9{margin-bottom: 9rem;}
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }

  h2{
    font-size: 55px;
    line-height: 56px;
  }

  h3{
    font-size: 25px;
    line-height: 32px    
  }

  p{
    font-size: 18px;
    line-height: 23px;
  }

  li{
    font-size: 24px;
    line-height: 36px;
  }

  /*margin & padding*/
  .mt-lg-6{margin-top: 6rem;}
  .mb-lg-11{margin-bottom: 11rem;}
  .mb-lg-16{margin-bottom: 16rem;}
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1196px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}